@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  background: #FFFFFF;
  align-items: center;
}

.header-logo {
  margin-bottom: -10px;
  z-index: 1;
  margin-left: 70px;
}


.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 38px;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  gap: 33px;
  margin-right: 70px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.main-container {
  flex-grow: 1;
}

.main-picture {
  background-image: url("../images/index-background-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-picture-mountains {
  display: block;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.about-sedona-tower {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-top: 69px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.about-sedona-tower-white {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-top: 69px;
  color: #FFFFFF;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.sedona-advantages {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-bottom: 90px;
  padding-top: 25px;
}

.advantages-list {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item-blue {
  color: #FFFFFF;
  background: #82B3D3;
  text-align: center;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-title-blue {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 1200px;
}

.advantages-item-lightblue {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.service-food {
  background: #FFFFFF;
  width: 400px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
  padding-top: 103px;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 121px;
  text-align: center;
}

.letter-form {
  text-align: center;
  padding-bottom: 104px;
}

.feet-back {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  padding-bottom: 96px;
}

.mail {
  background-image: url("../images/background-image-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  text-decoration: none;
  margin-right: 70px;
}

.footer-contacts {
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  align-items: center;
  flex-wrap: wrap;
}

.advantages-description-mail {
  text-align: center;
  padding-bottom: 56px;
  margin-top: 0;
  margin-bottom: 0;

}

.advantages-description-mail-white {
  text-align: center;
  padding-bottom: 56px;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
}

.footer-social {
  width: 142px;
  margin-left: 70px;
  padding-top: 45px;
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-contacts {
  width: 331px;
  margin-left: 237px;
}

.academy-link {
  max-width: 115px;
  margin-right: 70px;
  margin-left: 236px;
}

.button-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-search {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 412px
}

.button-letter {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}


.main-inner {
  background-image: url("../images/catalog/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.inner-header {
  color: #FFFFFF;
  margin-left: 70px;
}

.inner-header-title {
margin: 0;
font-size: 60px;
padding-top: 35px;
padding-bottom: 8px;
}

.breadcrums {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.breadcrums-item {
font-size: 16px;
line-height: 21px;
color: inherit;
}

.breadcrums-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  display: block;
  padding-left: 28px;
}

.hotels-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  padding-left: 70px;
  padding-right: 70px;
}

.hotel-card {
  width: 300px;
}

.container-catalog-filter {
  display: flex;
  width: 1060px;
}

.container-catalog-filter-button {
  display: flex;
  flex-flow: column;
}

.container-catalog-results {
  display: flex;
  width: 1200px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-services {
  border: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.result {
  background: #FFFFFF;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-top: 6px;
  padding-bottom: 46px;
}

.select-control {
  margin-left: 200px;
  width: 292px;
  height: 49px;

}

.button-light-current {
  width: 48px;
  height: 48px;
  margin-left: 70px;
  margin-right: 8px;
}

.button-light {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  margin-right: 70px;
}

.button-light-one {
  width: 48px;
  height: 48px;
  margin-left: 0;
  margin-right: 0;
}

.hotel-card-title {
  padding-bottom: 16px;
  margin: 0;
  padding-top: 16px;
}

.hotel-card-link,
.hotel-card-link-current {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.pagination {
  display: flex;
  margin-left: 70px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  list-style-type: none;
}

.pagination-link {
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  background-color: #82B3D3;
  text-decoration: none;
  color: #ffffff;
  padding-left: 23px;
  padding-top: 11px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  width: 140px;
}

.chosen-hotel-card,
.button-catalog,
.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.chosen-hotel-card,
.button-catalog {
  background-color: #82B3D3;
}

.mail-catalog {
  background-color: #FFFFFF;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.mailing-list {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-top: 69px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
